<div style="text-align:right; margin: 0 auto;    width: 80rem;    max-width: 90%;">
    <i class="fa fa-arrow-left" style="font-size:32px; cursor:pointer;" routerLink="" [fragment]="'about'">
    </i>
</div>

<!-- Header -->
<header id="headerNotas">
    <div class="logo"><a routerLink="" [fragment]="'about'">Notas <span>Anto Gatti - Fotos</span></a></div>
</header>


<!-- Main -->
<section id="mainNotas">
    <div class="inner">
        <!-- Three -->
        <section id="three" class="wrapper">
            <div class="spotlight">
                <div class="image flush">
                    <img src="../../../../assets/images/Notas/pic06.jpg" alt="Notas" asp-append-version="true" />
                </div>
                <div class="inner">
                    <h3>Cómo encontrar el fotógrafo adecuado: ¿Calidad o precio? ¿Cuán importante es la fotografía para vos?
                    </h3>
                    <p>Elegir un fotógrafo para un evento es una tarea que merece un tiempin de busqueda y atención. Es super importante que dediquemos parte de nuestro tiempo para encontrar aquella persona indicada que registrará cada momento único y soñado
                        de nuestra fiesta. </p>
                    <p>
                        <button class="w3-button w3-padding-large w3-white w3-border" [routerLink]="'/NotasCompleta1'">
                        <b>Seguir Leyendo » </b>
                    </button>
                    </p>
                </div>
            </div>
            <div class="spotlight alt">
                <div class="image flush">
                    <img src="../../../../assets/images/Notas/pic07.jpg" alt="Notas" asp-append-version="true" />
                </div>
                <div class="inner">
                    <h3>Un Viaje a la Reflexión.</h3>
                    <p>
                        Tuve la dicha de poder compartir idas y vueltas en un colectivo rural para dar un taller de fotografía: aquí no hay señal para el teléfono, el paisaje se convierte en el principal atractivo, la tierra tu peor enemigo aunque con el tiempo te acostumbras
                        y en el colectivo pasan cosas: es un especie de " casa transitoria", el colectivero el jefe de la casa, que en cuanto hay revuelo comienzan las amenazas de bajar en el medio del campo a quien sea!. </p>
                    <p>
                        <button class="w3-button w3-padding-large w3-white w3-border" [routerLink]="'/NotasCompleta2'">
                        <b>Seguir Leyendo »</b>
                    </button>
                    </p>
                </div>
            </div>
        </section>

    </div>
</section>

<app-footer id="footerNotas"></app-footer>