<div style="text-align:right; margin: 0 auto;width:84%;padding-top:10px;max-width: 90%;">
    <i class="fa fa-arrow-left" style="font-size:32px; cursor:pointer;" routerLink="/Notas"></i>
</div>

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-single">

                    <div class="post-thumb">
                        <img src="../../../../assets/images/Notas/blog-post-1.jpg" style="width:100%" alt="Notas" asp-append-version="true" />
                        <img />
                    </div>

                    <br />
                    <h1 style="color: #7B7B7B; text-align: center;">Cómo encontrar el fotógrafo adecuado: ¿Calidad o precio? ¿Cuán importante es la fotografía para vos?</h1>

                    <br />
                    <div class="post-content post-excerpt">
                        <p>
                            En esta oportunidad voy a dirigirme a aquellas personas que están en búsqueda de un fotógrafo y que aún no saben bien como evaluar sus capacidades y que exigir de un servicio cobertura fotográfica para su fiesta. Elegir un fotógrafo para un evento es
                            una tarea que merece un "tiempin" de búsqueda y atención. En varias oportunidades he podido percibir que se dedica tiempo a detalles estéticos, que no dejan de ser menores, pero dejamos la elección del fotógrafo para el último.
                            Pero es super importante que dediquemos parte de nuestro tiempo para encontrar aquella persona indicada que registrará cada momento único y soñado de nuestra fiesta.
                        </p>

                        <blockquote class="quote-post">
                            <p>
                                ¿Qué tan importante es la fotografía para tu fiesta? ¿Qué tan importante es el registro de momentos que solo pasan una vez en tu vida, que son una puerta a un recuerdo único e icónico?
                            </p>
                        </blockquote>

                        <p>
                            ¿Por dónde empezar? Definiendo qué lugar ocupa la fotografía para vos, que es más importante: ¿el precio o la calidad? ¿El descuento o la tranquilidad de saber que recibirás el material que esperabas? Si es un profesional los precios están en relación
                            a lo que vamos a recibir a cambio; si no podemos pagarlo y decidimos ir con otro, más económico, entonces debemos estar consientes que nuestras expectativas deben estar en relación al precio que vamos a pagar. No hay una lista
                            de precios que pueda servirles de punto de referencia, los valores de los servicios fotográficos pueden ser muy variados, como también estar fuera del presupuesto estimado en un primer momento. En este punto es necesario que
                            se detengan y se pregunten algo muy simple: ¿Qué tan importante es la fotografía para tu fiesta? ¿Qué tan importante es el registro de momentos que solo pasan una vez en tu vida, que son una puerta a un recuerdo único e icónico?
                        </p>

                        <h4>Algunos Tips:</h4>

                        <p>
                            Lo primero es buscar publicaciones de fotógrafos en las redes facebook, instagram y web. Generalmente quienes tienen una web ya se encuentran más establecidos en su rubro, poseen un portfolio más completo, pagan por mostrar su contenido y suele ser una
                            buena forma de evitar personas que incursionan en el rubro o toman por hobbie a la profesión. Las referencias de quienes ya han contratado el servicio es algo que puede ayudarles a tomar una decisión. Lo que deben averiguar
                            es sobre el comportamiento del fotógrafo durante la sesión, su profesionalismo para desarrollar su actividad, su compromiso con el evento, etc.; Pregúntenles cómo se relacionó con los más pequeños o con los adultos mayores,
                            ese es un buen detalle, y no se olviden de consultar cuanto tardó en entregar el trabajo, si estuvo en los plazos estipulados.
                        </p>

                        <p>
                            Pero no es lo único a tener en cuenta, es preciso que cuando encuentres ese fotógrafo puedas reunirte personalmente, tratar con él te ayudará a acordar cual es el tipo trabajo que pretendes recibir, y aunque parezca una banalidad, su personalidad también
                            te ayudará a saber si va con lo que buscas. Desde el lado del fotógrafo puedo decirte que también es muy importante conocer al posible cliente, para así brindar asesoramiento, captar su su identidad y ser lo más sinceros posibles
                            al momento de documentar mediante la imagen la esencia que hay en la persona fotografiada.

                        </p>

                        <h4>¿Que evaluar y que pedir de un buen profesional?</h4>
                        <p>
                            Tal vez ésta sea la parte más complicada de explicar a alguien que no está inmerso en el mundo de la fotografía, así que voy a tratar de darles una respuesta lo más sencilla posible, de esta forma tendrán una idea más clara de lo que deben revisar.
                            <p>
                                <p>

                                    <strong>
                                    1-	Equipamiento con los que trabaja:
                                </strong> saber si cuenta con personal de asistencia y los complementos que posee además de una cámara, como: lentes fijos, grandes angulares, angulares; luces; flashes, pantallas reflectoras,
                                    y mejor aun si posee accesorios tecnológicos que mejoran el servicio como drone, cámaras de vídeo o algún chiche de última generación!
                                    <br />
                                    <strong>2-	Estudios/ capacitación:</strong> no solo es un buen y costoso equipo, pregunta sobre la institución que avala su título y sobre la fluencia de trabajo que presenta en el rubro.
                                </p>

                                <blockquote class="quote-post">
                                    <p>
                                        Ojo! No es lo mismo un fotógrafo que se dedica a hacer fotografía para boliches u otro dedicado a fiestas de 15 o bodas. Cada quien tiene su especialidad, su sensibilidad y practicidad para proceder a su objetivo a fotografiar.
                                    </p>
                                </blockquote>

                                <p>
                                    <strong>3-	Productos:</strong> y a esto me refiero a la materialización de los mismos, pueden prometerte el ofertón del año regalándote combos con muchos productos a la vez, pero de qué calidad son? ¿Y dónde está la
                                    letra chica?
                                </p>

                                <p>
                                    <strong>A esto le voy anexar algunos ejemplos concretos:</strong>

                                    <i>
                                    <br> -	Si te ofrecen un fotolibro: ¿cómo es su tapa, lomo y contratapa? ¿De cuero, gravado, impreso, de cartón estándar?
                                    ¿Como son sus hojas? ¿De papel fotográfico, papel algodón u obra? ¿Cuál es su gramaje y textura?
                                    <br> -	Si te ofrecen una sesión: ¿cuál es el asesoramiento para dicha sesión?; ¿cuánto tiempo hay de postproducción? ¿Cuánto es la demora?
                                    <br> -	Si te ofrecen un banner,: ¿viene con pie? ¿Es una lona o un canvas? ¿Cuál es la calidad de la misma?
                                </i>
                                </p>
                                <p>
                                    Podes no tener mucha idea pero lo bueno de la materialización es que es tangible, evitá el impulso de comprar mediante el ofertón que te ofrecen en las redes y pedí ver ejemplos de los productos materializados.
                                </p>

                                <p>
                                    <strong>4-	Consistencia:</strong> Al revisar el trabajo de un fotógrafo, deben tratar de comparar su mismo trabajo en diferentes servicios; la consistencia significa en entregar la misma calidad de imagen. Las fotografías
                                    deben transmitirte algún sentimiento, no deben pasar desapercibidas ante tus ojos; los encuadres, colores, ángulos y todo aquello que haga a la composición deben ser acordes al evento, mejor aun si poseen la capacidad
                                    de tener una mirada audaz o distinta a lo común.
                                </p>
                                <p>
                                    <strong>5- Contrato:</strong> si es un profesional debe ofrecerte un contrato fijando los compromisos que adquiere, como así como los límites de la responsabilidad que necesita de tu parte como cliente.
                                </p>

                                <p>
                                    Para cerrar… en un día importante como el de tu fiesta, las fotografías serán lo único que permanecerá a pesar del tiempo, véanlo como una inversión, y si después del evento sienten que se han superado las expectativas, entonces trátenlo como si fuera
                                    el “Fotógrafo de cabecera”, conserven el contacto para futuros eventos. El fotógrafo es un profesional que entra en sus vidas, para captar momentos irrepetibles, el trabajo debe ser tan marcado que al hojear el álbum
                                    podemos volver a sentir que nuestros ojos se llenan de lágrimas al revivir ese momento,
                                    <strong><i>¡Nuestro trabajo como fotógrafos es llegar al corazón mediante un recuerdo!</i></strong>
                                </p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<!-- footer Start -->
<app-footer id="footerNotasComletas1"></app-footer>