<div id="home">
    <!-- Slider Starts -->
    <!-- Swiper -->
    <div class="swiper-container">
        <div class="swiper-wrapper">
            
            <div class="swiper-slide" *ngFor="let item of SliderCollectionsImages let ultimo= last;" appCallBack [CallBack]="InicarJavaScript" callback-condition="{{ ultimo }}">
                <img style="width: 100%;height:80%;" src={{item.Path}} alt="banner">
            </div>

        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <div class="swiper-button-next carousel-control glyphicon glyphicon-chevron-right" style="font-size: 35px;"></div>
        <div class="swiper-button-prev carousel-control glyphicon glyphicon-chevron-left" style="font-size: 35px;"></div>
    </div>
</div>

