<div id="works" class="clearfix grid">
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Fiestas.jpg" alt="Fiestas" />
        <figcaption>
            <h2>Fiestas</h2>
            <!-- <a href="@Url.Action(" Index ", "AlbumGallery ", new { nameAlbum = TipoEnum.GetStringValue(TipoEnum.EnumTipoAlbum.Fiestas) })" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a> -->
            <a [routerLink]="['/Album',Fiestas]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Ninos.jpg" alt="Niños" />
        <figcaption>
            <h2>Niños</h2>
            <a [routerLink]="['/Album',BebesYNinos]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Instituciones.jpg" alt="Instituciones" />
        <figcaption>
            <h2>Instituciones</h2>
            <a [routerLink]="['/Album',Instituciones]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Books.jpg" alt="Books" />
        <figcaption>
            <h2>Books</h2>
            <a [routerLink]="['/Album',Books]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Familias.jpg" alt="Familias" />
        <figcaption>
            <h2>Familias</h2>
            <a [routerLink]="['/Album',Familias]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
    <figure class="effect-oscar  wowload fadeInUp">
        <img src="/assets/images/fulls/Portadas/AP_Personales.jpg" alt="img01" />
        <figcaption>
            <h2>Personales</h2>
            <a [routerLink]="['/Album',Personales]" class="btn btn-default btn-sm" data_target="#modal-container" data_toglle="modal"> </a>
        </figcaption>
    </figure>
</div>