<div style="text-align:right; margin: 0 auto;width:86%;padding-top:10px;max-width: 90%;">
    <i class="fa fa-arrow-left" style="font-size:32px; cursor:pointer;" routerLink="/Notas"></i>
</div>

<section class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="post post-single">

                    <div class="post-thumb">
                        <img src="../../../../assets/images/Notas/nota 2.jpg" style="width:100%" />
                    </div>

                    <br />
                    <h1 style="color: #7B7B7B; text-align: center;">Un Viaje a la Reflexión.</h1>

                    <br />
                    <div class="post-content post-excerpt">
                        <p>
                            Estas son unas fotos que hace un tiempo deseaba compartir, entre la vorágine de fin de año, en donde han pasado trabajos fotografiando chicas que celebran el cumple y preocupados por cómo crear el mundo mágico de princesas para los books, el ensimismarse
                            para terminar la etapa de lo académico porque "el título es importante", el verse rodeado en los pensamientos de la cosificación de presentes findeañeros, el trabajar y mientras tanto dejar un poquito para el después los momentos
                            familiares porque es la época y hay que aprovechar, "después muere todo.." Bueno, he aquí el momento de tomarse el momento.
                            <br /> Tuve la dicha de poder compartir idas y vueltas en un colectivo rural para dar un taller de fotografía: aquí no hay señal para el teléfono, el paisaje se convierte en el principal atractivo, la tierra tu peor enemigo
                            aunque con el tiempo te acostumbras y en el colectivo pasan cosas: es un especie de " casa transitoria", el colectivero el jefe de la casa, que en cuanto hay revuelo comienzan las amenazas de bajar en el medio del campo a quien
                            sea!
                            <br /> Ojitos que dicen mucho, se duerme, se come, se juega al futbol, algunos te espían desde lejos porque no se animan a hablar, las maestras crean juegos con elementos simples y los niños los llevan a sus casas conservándolos
                            como los mejores tesoros.
                        </p>
                        <blockquote class="quote-post">
                            <p>
                                Algunos ansiaban el jueves para clickear a <i>"Florentina”</i>, porque así dejó de llamarse Cannon 60 D.
                            </p>
                        </blockquote>
                        <p>
                            Un día, mientras enfocábamos a una compañera e intentábamos que la foto no saliera movida entre tantos pozos y viaje, le consultaba a una niña de 8 años que iba hacer después de llegar a casa y contesto entusiasmada: - voy a amontonar.. Invadida por la
                            curiosidad le pregunte que era " amontonar" y prontamente respondió: "
                            <i>AMONTONAR LADRILLOS</i> , así lo ayudo a mi papá porque él trabaja muuuucho.." Y la verdad no supe que decir, lo primero que se me vino a la mente fue pensar en mi hija, (porque siempre es más fácil pensar en uno antes que
                            el otro).
                            <br /> Juli tiene la misma edad y recordaba que la última vez se había enojado por tener que amontonar-acomodar sus juguetes.. <i>¿Quién tiene la culpa? Ese padre por recibir la ayuda de su niña o probablemente yo por hacer nada ante la situación?; Mi hija por encapricharse o yo por no darle el tiempo necesario?</i>.
                            Es el mundo que los adultos creamos para nuestros niños, y con esto me di cuenta que para esta navidad no importaba si los patines eran de ¨Soy Luna¨, si la próxima remera sería de Mimo & Co o si las muñecas que ya había comprado
                            de Pinypon servirían como buen regalo, espero esto se me quede un tiempo más en la cabeza para recordar,
                            <strong><i>que es mejor jugar entre dos con un muñeco de papel..</i></strong>

                        </p>
                    </div>

                </div>

            </div>
        </div>

        <div class="content-wrapper">
            <!-- <div class="navbar navbar-default default classic full" role="navigation">

            </div> -->
            <!--/.navbar -->

            <div class="light-wrapper">
                <div class="container-fluid inner2 tp0">
                    <div class="collage-wrapper">
                        <div id="collage-large" class="collage effect-parent light-gallery">
                            <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 526px; height: 346px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/20.jpg" class="lgitem" data-sub-html="#caption1">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/20.jpg" style="width: 546px; height: 366px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 526px; height: 346px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/21.jpg" class="lgitem" data-sub-html="#caption2">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/21.jpg" style="width: 546px; height: 366px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 226.688px; height: 346px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/25.jpg" class="lgitem">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/25.jpg" style="width: 246.688px; height: 366px;" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 349px; height: 318px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/23.jpg" class="lgitem" data-sub-html="#caption4">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/23.jpg" style="width: 369px; height: 338px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 484px; height: 318px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/24.jpg" class="lgitem" data-sub-html="#caption5">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/24.jpg" style="width: 504px; height: 338px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-1" style="height: 346px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/31.jpg" class="lgitem">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/31.jpg" style="width: 320px;   padding-right: 0px;    padding-left: 0px;" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 311px; height: 318px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/26.jpg" class="lgitem" data-sub-html="#caption4">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/26.jpg" style="width: 320px; height: 338px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-2" style="width: 484px; height: 318px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/22.jpg" class="lgitem" data-sub-html="#caption5">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/22.jpg" style="width: 559px; height: 338px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-3" style="width: 370px; height: 275px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/29.jpg" class="lgitem">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/29.jpg" style="width: 390px; height: 295px;" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-3" style="width: 420.688px; height: 275px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/27.jpg" class="lgitem" data-sub-html="#caption10">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/27.jpg" style="width: 440.688px; height: 295px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-4" style="width: 425px; height: 279px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/30.jpg" class="lgitem" data-sub-html="#caption11">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/30.jpg" style="width: 445px; height: 299px;" alt="">
                                    </a>

                                </div>
                            </div>
                            <div class="collage-image-wrapper effect-2 effect-duration-1" style="width: 526px; height: 346px; margin-bottom: 0px; margin-right: 0px; display: inline-block; vertical-align: bottom; overflow: hidden; opacity: 0;">
                                <div class="overlay">
                                    <a href="../../../../assets/images/fulls/Personales/28.jpg" class="lgitem" data-sub-html="#caption2">
                                        <span class="over"><span></span></span>
                                        <img src="../../../../assets/images/fulls/Personales/28.jpg" style="width: 546px; height: 366px;" alt="">
                                    </a>

                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.container-fluid -->
                </div>
                <!-- /.light-wrapper -->
            </div>
        </div>
    </div>
</section>

<!-- footer Start -->
<app-footer id="footerNotasComletas1"></app-footer>