<div id="contact" class="spacer">

    <!--Contact Starts-->
    <div class="container contactform center">
        <div class="row wowload fadeInLeftBig">
            <div class="col-md-1">
                <!-- Gap between columns -->
            </div>
            <div class="text-center col-md-5 col-sm-6">
                <p aria-hidden="true" style="text-align: center;">
                    <font style="font-family: 'Crete Round', serif; font-size:300%; font-weight:bold; line-height: 40pt;">
                        ¡Dejame tu Consulta!
                    </font>
                </p>
                <p>
                    <font> ¡Hola! ¿Te gustaron mis fotos?</font>
                </p>
                <p>
                    <font>¿Querés averiguar disponibilidad y características del servicio? ¿Necesitas una propuesta creativa y con diseño?</font>
                </p>
                <p>
                    <font>Por favor escribeme mediante este pequeño formulario. Podes contarme acerca de tu fiesta y planes. Las críticas y sugerencias son bienvenidas, me gustaría saber tu opinión.</font>
                </p>
                <p>
                    <font>¡Gracias por tomarte el tiempo para ver mi página!</font>
                </p>
            </div>
            <div class="col-md-1">
                <!-- Gap between columns -->
            </div>

            <form class="text-center col-md-5 col-sm-6  divEnviarMail" [formGroup]='forma' (ngSubmit)="SubmitContactForm()">
                <p aria-hidden="true" style="text-align: center;"></p>

                <div class="form-group" [ngClass]="{ 'has-error': submitted && f.nombre.errors }">
                    <input type="text" placeholder="Nombre" formControlName="nombre" class="form-control">
                    <div *ngIf="submitted && f.nombre.errors" class="has-error">
                        <div *ngIf="f.nombre.errors.required">Este campo es requerido</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': submitted && f.compania.errors }">
                    <input type="text" placeholder="Compañía" formControlName="compania" class="form-control">
                    <div *ngIf="submitted && f.compania.errors" class="has-error">
                        <div *ngIf="f.compania.errors.required">Este campo es requerido</div>
                    </div>
                </div>

                <div class="form-group" [ngClass]="{ 'has-error': submitted && f.message.errors }">
                    <textarea placeholder="Mensaje" formControlName="message" class="form-control"> </textarea>
                    <div *ngIf="submitted && f.message.errors" class="has-error">
                        <div *ngIf="f.message.errors.required">Este campo es requerido</div>
                    </div>
                </div>

                <button class="btn btn-primary">
                        <i class="fa fa-paper-plane"></i> Enviar
            </button>

            </form>
        </div>
    </div>
</div>