<div id="fb-root"></div>
<div class="footer text-center spacer">

    <p class="wowload flipInX">
        <a href="https://www.facebook.com/mantonellagatti/?pnref=lhc"><i class="fa fa-facebook fa-2x"></i></a>
        <a href="https://www.instagram.com/antogatti.fotos/"><i class="fa fa-instagram fa-2x"></i></a>
        <a href="https://www.instagram.com/antogatti.fotos/"><i class="fa fa-youtube fa-2x"></i></a>

    </p>
    <div class="fb-like" data-href="https://www.facebook.com/mantonellagatti/" data-layout="button" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>
    <br> Copyright {{anio}} Anto Gatti - Fotos. Todos los derechos reservados.
</div>