<div id="about" class="container spacer about">
    <h2 class="text-center wowload fadeInUp">Existen Momentos.</h2>
    <div class="row">
        <div class="col-sm-6 wowload fadeInLeft">
            <h4></h4>
        </div>
    </div>
    <div class="row">
        <div class="newspaper">
            <p aria-hidden="true">
                <i class="fa fa-camera-retro"></i><em> Existen momentos</em> donde no hay palabras que los puedan contener, donde el llanto supera la emoción, donde la sonrisa de un ser querido es tan importante como el hecho, donde la risa y el llanto
                son un solo sentimiento, donde el amor es el principal protagonista...
                <em>Existen momentos</em> en donde decimos: ¡Vale la pena estar vivo…! Momentos que quisiéramos congelarlos en el tiempo y volver a repetirlos.
                <em>Existen momentos</em> que vuelven a tu mente como si fuesen aves de migración. Momentos que al verlos se convierten en aromas, sabores y sentimientos profundos, donde la música y la mirada cómplice de un amigo te harán resonar los
                oídos, donde las marcas en la piel de tu madre y de tu padre denotan el camino recorrido, donde encontrás la inocencia que reina en tu niño.
                <em>Existen momentos</em> que quisieras conservar como una llave que abre la puerta de tu vida, momentos que nunca volverán porque ese día, esa hora, las personas y las circunstancias cambiarán o simplemente se irán. Resulta indiscutible
                vivir cada momento con suma naturalidad, como hecho de la vida, valorándolo tal cual es, único e irrepetible. De eso se trata fotografiar: captar ese momento justo, donde lugar, cuerpo y alma se alinean en vos… Les propongo no captar todos
                los momentos, sino esos pequeños momentos que contienen la esencia que hay en ustedes mismos y son capaces de demostrar lo valioso que han sido vivirlos.
            </p>
        </div>
    </div>
</div>